<% provide(:title, @user.name ) %> 
<div class="row">
  <aside class="span5">
    <section>
      <h1>
      <%= gravatar_for @user %>
      <%= @user.name %> 
      </h1>
    </section>
  </aside>
  <div class="span8">
    <p> Statistics about classification rate can go here.  E.g.
      This fake graph:
    </p>
    <%= link_to image_tag("graph.png", alt: "graph") %>
</div>