<% provide(:title, @user.name ) %> 
<div class="row">
  <aside class="span5">
    <section>
      <h1>
      <%= gravatar_for @user %>
      <%= @user.name %> 
      </h1>
        <p>Tweets Annotated:
          <%= @count %>
      </p>
      <br>
      <br>
  <p>Your rating: <%= @rating[0] %></p>
  <p>Your accuracy:</p>
    </section>
  </aside>
  <br>
  <br>
  <br>
  <br>
  <br>
  <span>
</div>