<%= form_for(@annotation) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>
    <div class="field">

     <br>

     <div class="btn-group" data-toggle="buttons-radio">
       <button value="sarcastic" name="annotation[value]" type="submit" class="btn btn-primary"data-disable-with="Please wait...">  sarcastic
       </button>

       <button value="not sarcastic" name="annotation[value]" type="submit" class="btn btn-info" data-disable-with="submitting...">
         not sarcastic
       </button>

      <div id="divider" class="divider" /></div>
    <%= hidden_field(:annotation, :tweetId) %>
  </div>
<% end %>
